.card{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
}
#list{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
    background-color: rgb(235, 233, 233);
}
h3{
     color: blue;
     width: 100px;     
}
p{
    display: flex;
    justify-content: end;
    padding-left: 100px;   
}
img{
    width: 225px;
    height: 225px;
}
header{
    text-align: center;
    background-color: rgb(107, 107, 165);
    font-size:90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.desc{
     text-align: center;
    background-color: rgb(235, 233, 233);
    width: 100%;
    color: black;
}
.search{
     background-color: rgb(235, 233, 233);
     margin-top: 5px;
}
#find{
    border-radius: 5px;
    border-color: rgb(168, 167, 167);
}
#search_btn{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgb(94, 96, 190);
 
}