.card{
    background-color: white;
    border-radius: 30px;
    padding: 10px;
}
#list{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto auto;
    padding: 20px;
    background-color: rgb(235, 233, 233);
}
h3{
     color: blue;
     width: 100px;     
}
p{
    display: flex;
    justify-content: end;
    padding-left: 100px;   
}